#board {
    display: flex;
    text-align: center;
    width: 216px;
    margin:0 auto;
    margin-top: 50px;
}

.unexplored, .explored, .bombed, .flagged {
    height: 20px;
    background: lightgray;
    width: 20px;
    border-width: 2px;
}

.explored, .bombed {
    border-style: inset;
}

.unexplored, .flagged {
    border-style: outset;
}

.modal-over {
    width: 216px;
    height: 100px;
    position: relative;
    background: white;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    margin-top: 20px;

}

.modal {
    display: none;
}

.screen-over {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.4);
}

.screen {
    display: none;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
}