#board {
    display: flex;
    text-align: center;
    width: 200px;
    margin:0 auto;
}

.unexplored, .explored, .bombed, .flagged {
    height: 20px;
    background: lightgray;
    width: 20px;
    border-width: 2px;
}

.explored, .bombed {
    border-style: inset;
}

.unexplored, .flagged {
    border-style: outset;
}

.modal-over {
    width: 216px;
    height: 216px;
    position: sticky;
    background: white;
    z-index: 100;
    margin: 0 auto;
}

.modal {
    display: none;
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.screen-over {
    display: none;
}