<h2>Sign up!</h2>

<form action=<%= users_url %> method="post">
    <label>email
        <input type="text" name="user[email]">
    </label>
    <br>
    <br>
    <label>password
        <input type="password" name="user[password]">
    </label>
    <br>
    <input type="submit" value="Sign Up">
</form>